/* styles.css */

.container {
    display: flex;
    justify-content: space-between;
  }
  
  .inventory {
    flex: 1;
    margin-right: 20px;
  }
  
  .cart {
    flex: 1;
    margin-left: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 5px;
  }
  
  .checkout-btn {
    width: 100%;
  }
  
  